---
layout: archive
title: "Contact Info"
permalink: /contact/
author_profile: true
---
      Email: <br>
      zainabmasood[at]gmail[dot]com <br> 
      zmas690[at]aucklanduni[dot]ac[dot]nz<br>
      <br><br>
      Department of Electrical, Computer, and Software Engineering<br>
      The University of Auckland <br>
      BUILDING 903 - Bldg 903, <br>Level 3, Room 355 <br>
      262 KHYBER PASS <br>
      NEWMARKET <br>
      AUCKLAND 1023 <br>
      New Zealand <br>

{% include base_path %}
<!--
{% for post in site.contact %}
  {% include archive-single.html %}
{% endfor %}
---
layout: archive
title: "Portfolio"
permalink: /portfolio/
author_profile: true
---

{% include base_path %}


{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %}
-->
