---
layout: archive
title: "Contact Info"
permalink: /contact/
author_profile: true
---

<table>
    <tr>
        <td>Email: <br><br>
        zainabmasood[at]gmail[dot]com <br> 
        zmas690[at]aucklanduni[dot]ac[dot]nz<br><br></td>
    </tr>
    <tr>
        <td>Department of Electrical, Computer, and Software Engineering<br></td>
    </tr>
    <tr>
        <td>The University of Auckland <br></td>
    </tr>
    <tr>
        <td>BUILDING 903 - Bldg 903, <br>Level 3, Room 355 <br>
        262 KHYBER PASS <br>
        NEWMARKET <br>
        AUCKLAND 1023 <br>
        New Zealand <br></td>
    </tr>
</table>

{% include base_path %}

{% for post in site.contact %}
  {% include archive-single.html %}
{% endfor %}

