---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

Listed are the courses I have taught at Prince Sultan University.

<b>CME343 Communication Systems I:</b> This course introduces the fundamental principles of communication systems. It covers topics such as modulation techniques, signal processing, and the analysis of communication signals and systems​​.

**ETHC305 Ethical & Social Aspects of Engineering:** This course explores the ethical, legal, and social implications of engineering practice. It addresses issues such as professional responsibility, ethical decision-making, and the impact of engineering solutions on society and the environment.

**CME492 CO-OP**: This cooperative education course provides students with practical experience in an industrial setting. It aims to integrate academic learning with real-world work experience, allowing students to apply their knowledge and skills in a professional environment​​.

**EE231 Signals and Systems:** This course covers the analysis of signals and systems in both continuous and discrete time. Topics include Fourier series and transforms, Laplace transforms, and the basics of linear system theory.

**CME112 Electric Circuit and Electronics:** This introductory course focuses on the principles of electric circuits and basic electronics. Students learn about circuit components, network theorems, and the analysis of DC and AC circuits​.

**CME342 Communication Theory**: This course delves into the theoretical foundations of communication systems, including information theory, coding, and modulation techniques. It emphasizes the mathematical modeling and performance analysis of communication systems​.

**CME241 Signals and Systems**: This course provides a comprehensive study of signals and systems, including time-domain and frequency-domain analysis, system properties, and the use of transforms for system analysis.

**EE332 Control Systems**: This course introduces the principles of control systems engineering. Topics include system modeling, feedback control, stability analysis, and the design of control systems using various methods such as PID controllers.

**EE492 Cooperative Training**: This is another cooperative education course designed to give students hands-on experience in the industry. It allows students to work on real projects and gain valuable insights into the professional practice of engineering​​.

{% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}
